body{
    background-color: black;
    color: white;
}
h1{
    color: white;
}

p{
    color: red;
}

.box{
    height: 60px;
    width: 60px;
    padding: 20px;
    margin: 20px;
    background-color: peru;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}